.icon {
  background: transparent;
  margin-left: 0.5rem;
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 1.5rem 22rem;
  padding: 4rem 1.5rem;

  gap: 1rem;
  font-family: inter;
  font-weight: 400;
  color: var(--gray-300);
}

.firstPhrase {
  font-weight: 700;
}
